/* Breakpoints */
/* Social */
/* Colors */
/* Transitions */
/* Paddings */
/* Shadows */
/*@import "base/reset";
@import "base/general";*/
.commonText, .headline, .copy, .linkText, .textInput, .formHeadline, .formDescription, .infoHeadline, .infoPoint, .commentTitle, .commentDate, p {
  /*font-family: SourceSansPro-Light;*/ }

.body {
  flex: 1;
  /*background-color: white;*/ }

.bodyBack {
  flex: 1; }

.bodyHeader, .bodyHeaderContain {
  height: 80;
  flex-direction: column;
  justify-content: center; }

.bodyHeaderContain {
  z-index: 20; }

.bodyHeaderBlur {
  position: absolute;
  height: 80;
  top: 0;
  left: 0;
  z-index: 10; }

.bodyHeaderText {
  top: 5;
  font-family: Azo Sans;
  font-weight: 400;
  text-align: center;
  align-self: center;
  font-size: 18;
  color: white;
  background-color: transparent; }

.leftCtrls {
  position: absolute;
  left: 0;
  top: 20;
  flex-direction: row;
  flex-wrap: wrap; }

.rightCtrls {
  position: absolute;
  right: 0;
  top: 20;
  flex-direction: row;
  flex-wrap: wrap; }

.headerLink {
  z-index: 100; }

.headerLinkText {
  font-weight: 400;
  color: white; }

.headerLinkIcon {
  /*background-color: red;*/
  width: 35;
  height: 35;
  /*margin-right: 4px;*/
  top: 0; }

.inlineContain {
  flex-direction: row;
  flex-wrap: wrap; }

.btn, .headerLink {
  justify-content: center;
  border-radius: 5px;
  padding: 8px 10px;
  /*background-color: blue;*/ }

.btnText, .headerLinkText {
  align-self: center;
  height: 35px;
  padding-top: 7px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-family: Azo Sans; }

.headline {
  font-weight: 600;
  align-self: center;
  font-size: 30px;
  justify-content: center;
  /*color: $stormy_gray;*/ }

.copy {
  /*color: $warm_grey;*/
  font-weight: 400;
  font-size: 20px;
  align-self: center;
  text-align: center;
  letter-spacing: -0.2; }

.centerLink {
  align-self: center;
  justify-content: center; }

.linkText {
  font-weight: 400;
  font-size: 18px;
  /*color: $stormy_gray;*/
  text-decoration-line: underline; }

.textInput {
  height: 45;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-weight: 400;
  border-radius: 5px;
  margin-bottom: 14;
  padding: 0 12px; }

/*.wrapBorder {
	border-width: 4;
	border-color: red;
	border-radius: 5;
}*/
.pickerInput {
  /*color: $warm_grey;*/
  padding-top: 14px;
  font-weight: 300;
  text-align: center; }

.inputBorder {
  width: 400;
  border-bottom-color: #D2D2D2;
  border-bottom-width: 1px;
  margin: 10 0 20 0; }

.inlineInputs {
  flex-direction: row;
  flex-grow: 1; }

.icFont {
  font-family: 'Icon Font';
  font-style: normal; }

.dialogContain {
  position: absolute;
  bottom: -50;
  background-color: transparent; }

.dialogCtrls {
  background-color: #f7f7f7;
  position: absolute;
  top: -280;
  height: 50;
  z-index: 25; }

.generalCtrls {
  background-color: #f7f7f7;
  /*position: absolute;
	top: -50;*/
  height: 50;
  z-index: 25; }

.pickerDialog {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  height: 230;
  background-color: #CDD1D8; }

.generalDialog {
  z-index: 10;
  height: 230;
  background-color: #CDD1D8; }

.pickerItem {
  background-color: white; }

.doneLink {
  position: absolute;
  right: 5;
  top: 3;
  padding: 10px; }

.doneLabel {
  color: #007aff;
  font-size: 18px; }

.upArrow {
  height: 40;
  width: 40;
  position: absolute;
  top: 5;
  left: 5;
  padding: 10px; }

.downArrow {
  height: 40;
  width: 40;
  position: absolute;
  top: 5;
  left: 40;
  padding: 10px; }

.homeBody {
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap; }

.bodyLeftBackground {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }

.bodyLeftBlur {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; }

.bodyTop {
  z-index: 10;
  /*background-color: red;*/
  padding: 20px 30px 0 30px;
  margin-top: 70px; }

.formHeadline {
  font-size: 28;
  margin-bottom: 15;
  color: white;
  background-color: transparent;
  font-weight: 600; }

.formDescription {
  font-size: 18;
  line-height: 24;
  margin-bottom: 35;
  color: white;
  background-color: transparent; }

.loginBtnContain {
  background-color: #F26A7E;
  border-radius: 5px;
  padding: 14 18; }

.loginBtnText {
  color: white;
  font-size: 18;
  align-self: center; }

.infoSection {
  z-index: 10;
  padding: 0 30px; }

.infoHeadline {
  font-size: 28;
  margin-bottom: 15;
  color: white;
  font-weight: 600;
  background-color: transparent; }

.infoPoint {
  font-size: 18;
  line-height: 28;
  margin-bottom: 10;
  color: white;
  background-color: transparent; }

.gridContain {
  flex: 1; }

.tileBox {
  border-bottom-width: 1px;
  border-bottom-color: #D2D2D2; }

.gridTile {
  height: 70;
  padding: 10;
  background-color: white; }

.tileContain {
  flex-direction: row;
  flex-wrap: wrap; }

.tileThumbnail {
  height: 50;
  width: 50;
  border-radius: 5px; }

.tileName {
  font-family: Azo Sans;
  font-weight: 400;
  text-align: left;
  background-color: transparent;
  color: #747474;
  margin-left: 25;
  font-size: 32;
  z-index: 30; }

.tileTitle {
  font-family: Azo Sans;
  font-weight: 400;
  font-size: 16;
  color: #4B4B4B;
  text-align: left;
  background-color: transparent;
  top: 14;
  left: 18; }

.projectContain {
  /*flex-direction: row;
   	flex-wrap: wrap;*/
  padding-top: 0; }

.viewMenu {
  margin-right: 0; }

.selectionStrip {
  padding: 35px;
  position: absolute;
  bottom: 0;
  left: 0; }

.selectionTile {
  height: 170;
  justify-content: center;
  margin-right: 35;
  border-radius: 5px; }

.selectionContain, .selectionBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px; }

.slideTile {
  border-radius: 5; }

.slideTile, .slideContain {
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 5; }

.checkmarkIcon {
  position: absolute;
  flex-direction: row;
  flex-wrap: wrap;
  height: 40;
  width: 40;
  background-color: #F26A7E;
  z-index: 10;
  top: 10;
  right: 10;
  border-radius: 50;
  justify-content: center;
  padding-top: 8; }

.tileImage {
  justify-content: center;
  border-radius: 5; }

.imageContain, .imageBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5; }

.imageBackground {
  overflow: visible;
  border-radius: 5px;
  left: auto; }

.slideTileInfo {
  padding: 35px;
  padding-top: 100px; }

.slideTileName {
  font-family: Azo Sans;
  text-align: left;
  color: #747474;
  font-size: 36; }

.slideTileDescription {
  font-family: Azo Sans;
  text-align: left;
  color: #767E81;
  font-size: 22;
  margin-top: 15; }

.blur {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.assetContentContain {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 25px; }

.assetThumbnail {
  border-radius: 5px; }

.assetRankBody {
  border-bottom-width: 1px;
  border-bottom-color: #D2D2D2; }

.rankList {
  height: 0;
  overflow: hidden; }

.averageRank, .userRank {
  flex-direction: row;
  flex-wrap: wrap; }

.averageRank {
  padding-top: 5px; }

.averageRankValue, .averageRankLabel {
  font-family: Skolar Sans Latin;
  font-weight: 600;
  color: #747474; }

.averageRankValue {
  font-size: 18;
  text-align: center;
  color: #747474; }

.averageCircle, .rankCircle {
  width: 40;
  height: 40;
  border-radius: 50; }

.averageCircle {
  background-color: rgba(255, 255, 255, 0.1); }

.averageRankLabel {
  font-size: 18; }

.rankValue, .rankName {
  font-family: Skolar Sans Latin;
  font-weight: 600;
  color: #747474; }

.rankValue {
  font-size: 18;
  text-align: center;
  color: #747474; }

.rankName {
  font-size: 14;
  color: #747474; }

.rankCircle {
  background-color: rgba(0, 0, 0, 0.05); }

.commentsCtrl {
  height: 40;
  background-color: #E5E5E5;
  border-bottom-width: 1px;
  border-bottom-color: #D2D2D2; }

.commentItem {
  padding: 25;
  border-bottom-width: 1px;
  border-bottom-color: #D2D2D2; }

.hiddenCommentItem {
  background-color: #E3E4E5; }

.commentTitle {
  color: #4B4B4B;
  font-size: 18;
  margin-bottom: 4; }

.commentDate {
  color: #767E81;
  font-size: 16;
  margin-bottom: 7; }

.commentContent {
  padding: 0;
  margin: 0;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #E3E4E5; }

p {
  padding: 0;
  margin: 0;
  color: #747474;
  font-size: 14; }

.noComments {
  padding: 25; }

.noCommentsText {
  font-family: Skolar Sans Latin;
  color: #767E81;
  font-size: 18; }
