.settingsList {
	background-color: white;
}

.userInformation {
	padding: 35 20;
	border-bottom-color: $grey;
	border-bottom-width: 1px;
}

.userName {
	@extend .commonText;
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 4;
}

.userEmail {
	@extend .commonText;
	font-size: 16px;
	margin-bottom: 5;
	color: $black;
}

.userStat {
	@extend .commonText;
	font-size: 16px;
	color: $black;
}

.settingsLink {
	/*@extend .btn;*/
	height: 70;
	z-index: 100;
	border-bottom-color: $grey;
	border-bottom-width: 1px;
	padding-top: 18;
	padding-left: 15;
}

.settingsLinkText {
	@extend .btnText;
	font-weight: 400;
	color: $darkGrey;
	font-size: 16px;
}

.settingsLinkIcon {
	width: 35;
	height: 35;
	top: 0;
}

.rightLinkIcon {
	right: 0;
	top: 2;
	position: absolute;
}

.arrowIcon {
	color: $darkGrey;
}
