.assetCommentsContain {
	/*border-bottom-width: 1px;
	border-bottom-color: red;	*/
}

.assetComments {
	background-color: #F7F7F7;
}

.commentsCtrl {
	height: 40;
	background-color: #E5E5E5;
	border-bottom-width: 1px;
	border-bottom-color: $grey;	
}

.commentsCtrlText {
	padding: 14;
	color: $midGrey;
	font-size: 15;
}

.commentList {
	/*z-index: 3;*/
}

.commentItem {
	padding: 25 25 0 25;
	border-bottom-width: 1px;
	border-bottom-color: $grey;
}

.hiddenCommentItem {
	/*background-color: $lightGrey;*/
	opacity: 0.5;
}

.commentMeta {

}

.commentTitle {
	@extend .commonText;
	color: $black;
	font-size: 16;
	margin-bottom: 4;
}

.commentDate {
	@extend .commonText;
	color: $midGrey;
	font-size: 14;
	margin-bottom: 7;
}

.commentContent {
	padding: 0;
	margin: 0;
	flex-direction: row;
   	flex-wrap: wrap;
   	/*background-color: $lightGrey;*/
}

p {
	@extend .commonText;
	padding: 0;
	margin: 0;
	color: $darkGrey;
	font-size: 14;
}

.commentFormContain {
	position: absolute;
	bottom: 0;
	background-color: transparent;
	flex: 1;
	z-index: 50;
}

.commentForm {
	/*position: absolute;
	bottom: 0;
	left: 0;*/
	
	height: 75;
	background-color: white;
	border-top-width: 1px;
	border-top-color: $grey;
	flex-direction: row;
   	flex-wrap: wrap;
   	padding: 15;
}

.formSpacer {
	height: 75;
}

.commentFormInput {
	@extend .textInput;
	font-size: 15;
	height: 45;
	padding: 8px 12px 8px 12px;
	margin-bottom: 0;
	border-width: 1px;
	border-color: $grey;
	margin-right: 10;
	letter-spacing: 0.2;
}

.formBtn {
	/*position: absolute;
	right: 0;*/
	width: 70;
	height: 45;
	border-radius: 5px;
	background-color: $pink;
	padding: 12;
	justify-content: center;
}

.formBtnText {
	@extend .commonText;
	font-weight: 400;
	font-size: 15;
	color: white;
	text-align: center;
}

.noComments {
	padding: 25;
}

.noCommentsText {
	font-family: $bFont;
	color: $midGrey;
	font-size: 18;
}