.assetRank {

}

.assetRankBody {
	border-bottom-width: 1px;
	border-bottom-color: $grey;
}

.rankList {
	height: 0;
	overflow: hidden;
}

.averageRank, .userRank {
	flex-direction: row;
   	flex-wrap: wrap;
}

.averageRank {
	padding-top: 5px
}

.averageRankValue, .averageRankLabel {
	font-family: $bFont;
	font-weight: 600;
	color: $darkGrey;
}

.averageRankValue {
	font-size: 18;
	text-align: center;
	color: $darkGrey;
}

.averageCircle, .rankCircle {
	width: 40;
	height: 40;
	border-radius: 50;
}

.averageCircle {
	background-color: rgba(255, 255, 255, 0.1);
}

.averageRankLabel {
	font-size: 18;
}

.userRank {
	
}

.rankValue, .rankName {
	font-family: $bFont;
	font-weight: 600;
	color: $darkGrey;
}

.rankValue {
	font-size: 18;
	text-align: center;
	color: $darkGrey;
}

.rankName {
	font-size: 14;
	color: $darkGrey;
}

.rankCircle {
	background-color: rgba(0, 0, 0, 0.05);
}