.gridContain {
	flex: 1;
}

.tileBox {
	border-bottom-width: 1px;
	border-bottom-color: $grey;
}

.gridTile {
	height: 70;
	padding: 10;
	background-color: white;
}

.tileContain {
	flex-direction: row;
   	flex-wrap: wrap;
}

.tileThumbnail {
	height: 50;
	width: 50;
	border-radius: 5px;
}

.tileName {
	font-family: $hFont;
	font-weight: 400;
	text-align: left;
	background-color: transparent;
	color: $darkGrey;
	margin-left: 25;
	font-size: 32;
	z-index: 30;
}

.tileTitle {
	font-family: $hFont;
	font-weight: 400;
	font-size: 16;
	color: $black;
	text-align: left;
	background-color: transparent;
	top: 14;
	left: 18;
}