.heroHeader, .heroHeaderContain {
	height: 80;
	flex-direction: column;
   	justify-content: center;
}

.heroHeaderContain {
	z-index: 20;
}

.heroHeaderBlur {
	position: absolute;
	height: 80;
	top: 0;
	left: 0;
	z-index: 10;
}

.heroHeaderText {
	top: 5;
	font-family: $hFont;
	font-weight: 400;
	text-align: center;
	align-self: center;
	font-size: 18;
	color: white;
	background-color: transparent;
}

.heroLeftCtrls {
	position: absolute;
	left: 0;
	top: 20;
	flex-direction: row;
   	flex-wrap: wrap;
}

.heroRightCtrls {
	position: absolute;
	right: 0;
	top: 20;
	flex-direction: row;
   	flex-wrap: wrap;
}

.heroHeaderLink {
	@extend .btn;
	z-index: 100;
}

.heroHeaderLinkText {
	@extend .btnText;
	font-weight: 400;
	color: white;
}

.heroHeaderLinkIcon {
	/*background-color: red;*/
	width: 35;
	height: 35;
	/*margin-right: 4px;*/
	top: 0;
}