.homeBody {
	flex: 1;
	flex-direction: row;
   	flex-wrap: wrap;
}

.bodyLeftBackground {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.bodyLeftBlur {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.bodyTop {
	z-index: 10;
	/*background-color: red;*/
	padding: 20px 30px 0 30px;
	margin-top: 70px;
}

.formHeadline {
	@extend .commonText;
	font-size: 28;
	margin-bottom: 15;
	color: white;
	background-color: transparent;
	font-weight: 600;
}

.formDescription {
	@extend .commonText;
	font-size: 18;
	line-height: 24;
	margin-bottom: 35;
	color: white;
	background-color: transparent;
}

.loginForm {
	
}

.loginBtn {
	
}

.loginBtnContain {
	background-color: $pink;
	border-radius: 5px;
	padding: 14 18;
}

.loginBtnText {
	color: white;
	font-size: 18;
	align-self: center;
}

.infoSection {
	z-index: 10;
	padding: 0 30px;
}

.infoHeadline {
	@extend .commonText;
	font-size: 28;
	margin-bottom: 15;
	color: white;
	font-weight: 600;
	background-color: transparent;
}

.infoPoint {
	@extend .commonText;
	font-size: 18;
	line-height: 28;
	margin-bottom: 10;
	color: white;
	background-color: transparent;
}